apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      # Tiempo que Kubernetes espera antes de forzar la terminación del pod
      terminationGracePeriodSeconds: 30
      containers:
        - name: backend 
          image: backend-image
          imagePullPolicy: Never # No intenta descargar la imagen, usa imagen local de Minikube
          ports:
            - containerPort: 3000 # Puerto donde la aplicación Node.js escucha

          envFrom: # Variables de entorno (Kubernetes)
            - configMapRef: # ConfigMap: Host, puerto, nombre DB
                name: backend-config
            - secretRef: # Secret: Usuario y contraseña
                name: backend-secret

          resources:
            requests:
              cpu: "477m"
              memory: "40Mi"
            limits:
              cpu: "1431m"
              memory: "120Mi"

          readinessProbe: # Verifica si la aplicación está lista para recibir tráfico
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            successThreshold: 1
            failureThreshold: 3

          livenessProbe: # Verifica si la aplicación sigue viva
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          startupProbe: # Verifica si la aplicación terminó de arrancar correctamente
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 30