apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce # Debe coincidir con el accessMode del PV
  resources:
    requests:
      storage: 1Gi